/**

dunkelblau: #323c5a;
hellblau/grau: #a3a6ae;
orangig: #e19727;
braunig: #7f7c65;
**/

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	/** background-color: #7f7c65; **/
	background-color: #ffffff;
	color: #324c5d;
}

a {
 color: #324c5d;
}

a:visited {
	/** color: #000fff; **/
}

a:active {
	/** color: #000000; **/
}

#page {
	padding:10px 20px 10px 10px;
	max-width: 1020px;
	margin-right: auto;
	margin-left: auto;
}

#main {
}

#header {
  width: 98%;
  margin-left: auto ;
  margin-right: auto ;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom:20px;
	padding: 10px;
	border-bottom: 1px solid #324c5d;
}

#header_result {
  width: 98%;
  background-color:#e19727;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: auto;
	margin-left:auto;
}


#footer_start {
	width: 98%;
	height: 100px;
  margin-left: auto ;
  margin-right: auto ;
	font-size: 12px;
	margin-top: 5px;
	padding: 10px;
	text-align:center;
}

#footer {
	width: 98%;
  margin-left: auto ;
  margin-right: auto ;
	font-size: 12px;
	margin-top: 5px;
	padding: 10px;
}

#summary {
 padding:3px 15px 3px 15px;
 width: 580px;
 background-color: #e19727;
 margin-left: 210px; 
 /* -moz-border-radius: 0.4em;
  border-radius: 0.4em; */
}

#img_float { float:left;}
#center_search {
  width: 98%; 
  height:300px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: auto ;
  margin-bottom: auto ;
	margin-top: 50px;
	margin-bottom:50px;
	font-size: 20px;
	padding: 10px;
	text-align:center;
}

#right_top {
	float: right
}

#left_top {
	
}

#sidebar {
	float: left;
	height: 400px;
	margin: 5px 10px 0 0;
	width: 180px;
	font-size: 11px;
	padding: 5px;
}

#sidebar_right {
 float: right;
 width: 180px;
 font-size: 10px;
 line-height: 1.4em;
}

#sidebar hr {
	width: 75%;
}

#spinner {
	visibility: hidden;	
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}


.cookie_box {
	line-height: 1.2em;
	font-size: 12px;
	padding: 5px 5px 5px 15px;
	margin: 10px 0 0 5px;
	min-width: 300px;
	/** background-color: #a3a6ae;
	-moz-border-radius: 0.5em 2em 0.5em 2em;
  border-radius: 0.5em 2em 0.5em 2em; **/
}

.cookie_box_alert {
	line-height: 1.2em;
	font-size: 12px;
	padding: 5px 5px 5px 15px;
	margin: 10px 0 0 5px;
	min-width: 300px;
	/** background-color: #e19727;
	-moz-border-radius: 0.5em 2em 0.5em 2em;
    border-radius: 0.5em 2em 0.5em 2em; **/
}

.cookie_box  label {
	font-style: italic;
	display: block;
	width: 70px;
	float: left;
}

.cookie_box_alert label {
	font-style: italic;
	display: block;
	width: 70px;
	float: left;
}

#search_results {
	margin-left: 210px; 
	
}

#search_results h3 {
 text-decoration: underline;
}

#search_header {
	margin-bottom: 20px;
	margin-left:210px;
	text-align:center;
}

#message, #error {
	font-size: 11px;
}

#settings {
	margin-top: 10px;
	}
	
#settings label {
	font-size: 1.1em;
	font-style: italic;
}

.search_field {
	width: 560px;
	height: 37px;
	font-size: 25px;
	margin: 30px;
	color: #324c5d;
}

.search_button {
	height: 30px;
	width: 230px;
	font-size: 20px;
	text-align:center;
}
.search_button_medium {
	height: 25px;
	width: 160px;
	font-size: 17px;
	margin-top:5px;
}

.search {
	width: 584px;
	margin-left: auto;
	margin-right:auto;
	height: 30px;
	font-size: 20px;
	margin-top: 5px;
}

.search_subline {
	margin-left: 20px;
	font-size: 9px;
}

.blue_plain {
	color:blue;
	font-size:1.2em;
	}
	
.blue {
	color: blue;
	text-decoration: underline;
	font-size: 1.1em;
}

.message_notice {
	color: green;
}

.message_error {
	color: red;
}

.footer_big {
  color: #324c5d;
  font-size: 1.7em;
  font-weight: bold;
}

.img_middle {
 vertical-align: middle;
 
}

.boxed {
  text-align: center;
  padding: 10px 0 10px 0;
  border-top: 2px solid #e19727;
  border-bottom: 2px solid #e19727;
}

.important {
	font-size:1em;
}

	
