body {
	margin:0;
	padding:0;
	width:100%;
	background:#fff;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
	/* 20101020 kish: von jcookie.css */
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #3e525f;	/* 324c5d
}

body {
	/** background-color: #7f7c65; **/
}


h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
	border:none;
}


/* Entire area */
#colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	/* background:yellow; */		/* Left column background colour */
	margin-bottom: 20px;
}
#colmid {
	float:left;
	width:200%;
	position:relative;
	left:200px;				/* default: 200px = width of left column */
	background:#fff;    	/* Centre column background colour */
}
#colright {
	float:left;
	width:100%;
	position:relative;
	left:50%;
	margin-left:-400px;		/* default: 400px */
	/* background:yellow;  */   	/* Right column background colour */
}
/* right column + mid column */
#col1wrap {
	float:right;
	width:50%;
	position:relative;
	right:100%;
}
/* middle column Textspiegel */
#col1pad {
	margin:0 15px 0 415px;	/* default: 0 15px 0 415px */
	overflow:hidden;
}
/* middle column Textspiegel (same are as col1pad) */
#col1 {
	width:100%;
	overflow:hidden;
	min-height:400px;
	margin-bottom: 20px;
}
/* Column inside colmask */
#col2 {
	float:left;
	width:170px;			/* default: 170px */
	position:relative;
	margin-left:-50%;
	left:215px;				/* default: 215px */
	overflow:hidden;
}
#col3 {
	float:left;
	width:200px;			/* default: 170px */
	position:relative;
	left:0px;				/* default: 15px; linker Rand von Textspiegel */
	overflow:hidden;
	padding-right:20px;
}


#footer p {
	padding:.5em 15px;
}

.important { font-size: 1em; font-weight: bold;}
.image_float {float:left; margin-right: 10px;}
#metabox-1 {
	/** margin-left: 10px; **/
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/** float:right; **/
	padding:10px;
	border:1px solid #7f7c65;
	font-size:0.8em;
	width: 97%;
	background-color: #e19727;
	}
#metabox-3 {
	margin-bottom: 20px;
	/** margin-left: 10px; **/
	-moz-border-radius: 5px;
	border-radius: 5px;
	/** float:right; **/
	padding:10px;
	border:1px solid #7f7c65;
	font-size:0.8em;
	width: 97%;
	background-color: #e19727;
	}

