/**

dunkelblau: #323c5a;
hellblau/grau: #a3a6ae;
orangig: #e19727;
braunig: #7f7c65;
**/

/* div um obigen Kasten mit Suchfeld etc. */
#search_header {
	/* margin-top: 50px; */ /* Abstand nach oben */
	margin-bottom: 20px;
/*	margin-left:210px; */
	text-align:center;
}

#page {
	position: relative;
}

#center_search {
  width: 98%; 
  height:300px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: auto ;
  margin-bottom: auto ;
	margin-top: 50px;
	margin-bottom:50px;
	font-size: 20px;
	padding: 10px;
	text-align:center;
}

#header {
  width: 98%;
  margin-left: auto ;
  margin-right: auto ;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom:50px;
	padding: 10px;
	border-bottom: 1px solid #324c5d;
}

#right_top {
	float: right
}

#left_top {
	
}

#spinner {
	text-align: center;
	visibility: hidden;	
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}

/* Suchform */
.search {
	width: 584px;
	margin-left: auto;
	margin-right:auto;
	height: 30px;
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* p-Zeile unter Suchform */
.search_subline {
	margin-left: 20px;
	font-size: 9px;
	display:none;	/* erstmal ausgeblendet */
}

/* div-Kasten um die Resultate */
#search_results {
	/* margin-left: 210px; */
}

#search_results h3 {
/* text-decoration: underline; */
	border-bottom: 0px #e4a200 solid;
	margin: 10px 30px 10px 10px;
}



/** Ergebnisformate **/

/* cookie_box: Kasten um ein Cookie-Ergebnis */

.cookie_box {
	line-height: 1.2em;
	font-size: 12px;
	padding: 5px 5px 5px 15px;
	margin: 10px 0 0 5px;
	min-width: 300px;
	text-align: left;
	/** background-color: #a3a6ae;
	-moz-border-radius: 0.5em 2em 0.5em 2em;
  border-radius: 0.5em 2em 0.5em 2em; **/
}

.cookie_box  label {
	font-style: italic;
	display: block;
	width: 70px;
	float: left;
}

/* cookie_box: Kasten um ein Cookie-Ergebnis mit irgendwas anderem... */

.cookie_box_alert {
	line-height: 1.2em;
	font-size: 12px;
	padding: 5px 5px 5px 15px;
	margin: 10px 0 0 5px;
	min-width: 300px;
	/** background-color: #e19727;
	-moz-border-radius: 0.5em 2em 0.5em 2em;
    border-radius: 0.5em 2em 0.5em 2em; **/
}

.cookie_box_alert label {
	font-style: italic;
	display: block;
	width: 70px;
	float: left;
}

#settings {
	/* margin-top: 10px; */
	margin:10px 0;
	padding:3px;
	font-size: 10px;
}
	
#settings label {
	/* font-size: 1.1em;
	font-style: italic; */
}

.search_field {
	width: 560px;
	height: 37px;
	font-size: 25px;
	margin: 30px;
	color: #324c5d;
}

.search_button {
	height: 30px;
	width: 230px;
	font-size: 20px;
	text-align:center;
}
.search_button_medium {
	height: 25px;
	width: 160px;
	font-size: 17px;
	margin-top:15px;
}

#col3 p {
	text-align:center;
}

#col1 form {
	text-align:center;
}

#versio_logo {
	margin:0;
}
#versio_logo img {
	padding:0;
	margin: 0 0 30px 0;	
}
#cookie_logo {
	margin: 10px 0 40px 0;
}

#tu_logo {
	padding:0;
	/* margin: 40px 0 0px 10px; 	
	background:#fff; */
}
#bmelv_logo {
	padding:0;
	/* margin: 40px 0 0px 10px;	
	background:#fff; */
}

#footer_pad {
	margin-right: auto;
	margin-left: auto;
}

#f1,#f2,#f3 {
	float:left;
	width: 28%;
	text-align:left;
}

#f2,#f3 {
	border-left: 1px solid #323c5a;
	padding-left: 20px;
	height: 100%;
}

.tiny {
	font-size: 8px;
	}
	
#footer {
	background-image: url(./fbg.png);
	background-repeat: repeat-x;
	clear:both;
	float:left;
	width:100%;
	color:  #a3a6ae;
	min-height: 50px;
	padding: 20px 0 20px 0;
	margin-top: 20px;
	/* position: absolute; 
	bottom: 0; */
	
}

#footer_menu ul,li {
	list-style-type: none;
}
#footer_menu a {
	font-size: 1em;
	}
a {
	color: #324c5d;
}
a:hover {
	text-decoration:none;
	border:none;
}
