@CHARSET "UTF-8";
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	color: #324c5d;
	font-size:12px;
}
table  {
	border-collapse:collapse;
	border-style:hidden;
	color:#324c5d;
	margin-left:20px;
	margin-bottom: 10px;
	line-height: 0.99em;
}
td {padding-right:5px;vertical-align:top;}
td a {color:blue; text-decoration:underline;}
em { font-style:normal;font-weight: bold;}
em.ggl {color:green;}
caption {
	font-weight: bold;
	font-size:1.1em;
	text-align:left;
	color: blue;
	padding-bottom:5px;
}
a { color: #324c5d; text-decoration: none;}
a:HOVER {text-decoration: underline;}
a.ggl { color: blue; text-decoration:underline;}
br {clear:both;}
#page {
	min-width: 400px;
	max-width: 1020px;
	margin-right: auto;
	margin-left:auto;
}
#content {width: 100%;}
#search_results {width:95%;overflow: auto;}
#header {margin-bottom: 10px;margin-top: 10px;}
#center_search {
  width: 98%; 
  min-height:150px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: auto ;
  margin-bottom: auto ;
  margin-top: 50px;
  margin-bottom:50px;
  font-size: 20px;
  padding: 10px;
  text-align:center;
}	
#footer {border-top:1px solid orange;width:100%;}
#footer_center {align:center;text-align: center;margin-top:15px;}
#main {width: 65%;float:left;min-height: 300px;border-right:1px solid orange;}
#info_table {margin-bottom:10px;}
#info_table td {line-height: normal;}
#spinner {
	visibility: hidden;	
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}
#sidebar {width: 33%;float:right;padding-left: 10px;height:100%;}
#top_nav {border-bottom:1px solid orange;}
#top_left {float:left;}
#top_right {float:right;}
#settings {background-color: lightgrey; padding: 10px; margin-bottom: 15px;}

.underlined { text-decoration:underline;}
.footer_column { margin-top:10px; float:left; width: 33%;}
.search {width: 60%;height: 30px;font-size: 23px;margin: 8px 0px 5px 20px;color: #324c5d;}
.search_button {width: 200px;height: 37px;font-size: 20px;}
.boxed {font-size: 0.75em;padding:10px;text-align: right;margin-top:10px;}
.tiny {font-size:0.85em;}
.footer_list {list-style-type: none;}
.img_middle {vertical-align: middle;}
.ggl {color:green;}