<table>
<caption>1und1</caption>
<tr>
<td><em>Firma</em></td><td>1 & 1 Internet AG (Teil der United Internet AG)</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="www.unitedinternet.de">www.unitedinternet.de</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Montabaur, Karlsruhe, Zweibr&uuml;cken, London, Wien, Sarreguemines, Madrid</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Es wurden keine Informationen zu Werbe-Cookies auf der Webseite der Firma gefunden. Auch auf den Seiten von AdLINK Media und affilinet (als Marken von United Internet laut Wikipedia, Stichwort "United Internet") wurden keine Informationen hierzu gefunden. Die zugeh&ouml;rige Domain "uimserv.net" war im Januar 2011 auf Rang 15 der  deutschen Domains mit dem h&ouml;chsten Webverkehr (Quelle: Alexa.com).</td>
</tr>
</table>
