<table>
<caption>Adconion</caption>
<tr>
<td><em>Firma</em></td><td>Adconion Media Group</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.adconion.com/de/index.html">http://www.adconion.com/de/index.html</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>16 B&uuml;ros in 7 L&auml;ndern. In Deutschland: M&uuml;nchen, Hamburg, D&uuml;sseldorf</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die <a href="http://www.adconion.com/de/datenschutz.html">Datenschutzseite</a> hat einen kurzen Abschnitt zu Cookies und einen Link zum Setzen eines <a href="http://www.adconion.com/de/datenschutz/das-adconion-cookie.html">Opt-Out-Cookies</a>. Die (Javascript)-OptOut-Funktion setzt zwei Cookies, die 10 Jahre gelten: "ID" mit einer ID als Wert (Funktion unbekannt); und "OO" mit dem Wert "OptOut". Bei erneuter Anmeldung wird das Cookie "OO" gel&ouml;scht, das ID-Cookie bleibt bestehen.</td>
</tr>
</table>
