<table>
<caption>Adition</caption>
<tr>
<td><em>Firma</em></td><td>ADITION technologies AG</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.adition.de/">http://www.adition.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>D&uuml;sseldorf</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die Seite <a href="http://de.adition.com/privacy/">"Datenschutz"</a> enth&auml;lt Informationen &uuml;ber die Nutzung von Cookies, einschlie&szlig;lich eines Links zu einer <a href="http://de.adition.com/privacy/optout/">Opt-Out-Funktion</a>, die ein Cookie namens "co"mit dem Wert "OPTOUT" setzt. Es gilt f&uuml;r die Domain "adfarm1.adition.com" und gilt f&uuml;r zwei Jahre.</td>
</tr>
</table>
