<table>
<caption>Advolution</caption>
<tr>
<td><em>Firma</em></td><td>add2 GmbH</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.advolution.de/">http://www.advolution.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>D&uuml;sseldorf</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Der Inhalt ihrer Webseiten ist nur mit Flash darstellbar. Der Abschnitt "Datenschutz" enth&auml;lt Informationen zu Cookies, einschlie&szlig;lich einem Link zu einer <a href="">Opt-Out-Funktion</a>. Diese setzt ein Cookie "kruemelmonster" mit dem Wert "nomnom". Es gilt f&uuml;r die Domain ".advolution.de", und ist nur ein Session Cookie (wird bei Beenden des Browsers gel&ouml;scht).</td>
</tr>
</table>
