<table>
<caption>Affilinet</caption>
<tr>
<td><em>Firma</em></td><td>affilinet GmbH</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.affili.net/de/Startseite.aspx">http://www.affili.net/de/Startseite.aspx</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>M&uuml;nchen - Hannover - London - Paris - Marseille - Haarlem - Madrid</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Es wurden keine Informationen zu Werbe-Cookies auf der Webseite der Firma gefunden. Lediglich in der Datenschutzerkl&auml;rung des Impressums werden Angaben zu Nutzung von Cookies auf ihrer Website gemacht.</td>
</tr>
</table>
