<table>
<caption>AudienceScience</caption>
<tr>
<td><em>Firma</em></td><td>AudienceScience (Luxemburg) GmbH / AudienceScience (Germany) GmbH</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.wunderloop.de/">http://www.wunderloop.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Deutsches B&uuml;ro Hamburg (Hauptsitz Luxemburg)</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Eine <a href="http://www.wunderloop.com/site/?page_id=52">Datenschutzseite</a> f&uuml;hrt zu einer <a href="https://connect.wunderloop.net/connect/privacy/settings">englischsprachigen Privacy-Seite</a> mit Informationen &uuml;ber Cookies und dem Text: "To use this site you need to enable cookie". Grund:  Unten auf der Seite wird eine Opt-Out-Option. Diese setzt einen Cookie (Domain: "connect.wonderloop.net", Name: "WIOptOut", Value: "DONT", Expire: in 10 Jahren). Bei einem erneuten Opt-In &uuml;ber diesen Mechanismus wird dieser Cookie wieder gel&ouml;scht.</td>
</tr>
</table>
