<table>
<caption>DoubleClick</caption>
<tr>
<td><em>Firma</em></td><td>doubleclick by Google</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.google.de/doubleclick/">http://www.google.de/doubleclick/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>New York</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die englischsprachige Startseite (Sprache nicht auf deutsch umstellbar) enth&auml;lt einen Link "Cookie Opt-Out" unten auf der Seite. Dieser f&uuml;hrt auf eine englischsprachige Seite <a href="http://www.google.com/privacy/ads/">Advertising and Privacy</a> mit Informationen zu Cookies sowie einer Opt-Out-Funktion. Diese setzt ein Cookie namens "id" mit Wert "OPT_OUT" f&uuml;r die Domain ".doubleclick.net" f&uuml;r knapp 20 Jahre. Die Ergebnisseite enth&auml;lt au&szlig;erdem weitere (englischsprachige) Informationen zu Opt-Out-M&ouml;glichkeiten.</td>
</tr>
</table>
