<table>
<caption>Firmen-ID</caption>
<tr>
<td><em>Firma</em></td><td>Firmenname</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="URL">URL</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Standorte</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Cookie-Infos (Stand 5.2.2011)</td>
</tr>
</table>
