<table>
<caption>GoogleAnalytics</caption>
<tr>
<td><em>Firma</em></td><td>Google Analytics</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.google.com/intl/de/analytics/">http://www.google.com/intl/de/analytics/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Mountain View, CA</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die Seite <a href="http://www.google.com/intl/de/analytics/privacyoverview.html">Google Analytics - &Uuml;bersicht</a> enth&auml;lt einen Abschnitt &uuml;ber "Google Analytics-Cookies".</td>
</tr>
</table>
