<table>
<caption>IVW-INFOnline</caption>
<tr>
<td><em>Firma</em></td><td>INFOnline GmbH (Servicedienstleister f&uuml;r die Informationsgemeinschaft zur Feststellung der Verbreitung von Werbetr&auml;gern e.V.(IVW))</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="https://www.infonline.de/">https://www.infonline.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>IVW: Berlin; INFOnline: Bonn</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die <a href="https://www.infonline.de/de/extra/datenschutz/">Datenschutz-Seite</a> von INFOnline enth&auml;lt eine Erkl&auml;rung dar&uuml;ber, wozu ihr Cookie gesetzt wird und wie man es unterdr&uuml;cken kann.</td>
</tr>
</table>
