<table>
<caption>Ligatus</caption>
<tr>
<td><em>Firma</em></td><td>Ligatus GmbH (Unternehmen der Gruner + Jahr)</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.ligatus.de/">http://www.ligatus.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>K&ouml;ln</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die <a href="http://www.ligatus.de/global/popup_datenschutz.html">Datenschutzbestimmungen</a> enthalten einen Abschnitt "Setzt Ligatus Cookies?"</td>
</tr>
</table>
