<table>
<caption>Mediamind</caption>
<tr>
<td><em>Firma</em></td><td>Mediamind</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://de.mediamind.com/">http://de.mediamind.com/</a></td>
</tr>
</table>
