<table>
<caption>Metapeople</caption>
<tr>
<td><em>Firma</em></td><td>metapeople GmbH</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.metapeople.com/">http://www.metapeople.com/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Duisburg</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Es wurden keine Informationen zu Cookies auf der Webseite der Firma gefunden, lediglich eine Datenschutzerkl&auml;rung f&uuml;r ihre Website.</td>
</tr>
</table>
