<table>
<caption>Nedstat</caption>
<tr>
<td><em>Firma</em></td><td>Nedstat</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.nedstat.de/index.php">http://www.nedstat.de/index.php</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Hauptsitz in Amsterdam (NL), mit Niederlassung in Frankfurt/M.</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die <a href="http://www.nedstat.de/datenschutz">Seite "Datenschutz"</a> enth&auml;lt Informationen zu Cookies und IP-Adressen.</td>
</tr>
</table>
