<table>
<caption>Newtention</caption>
<tr>
<td><em>Firma</em></td><td>newtention technologies GmbH</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.newtention.de/">http://www.newtention.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Hamburg</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die Seite <a href="http://www.newtention.de/index.php/de/datenschutz">Privacy-Seite</a> enth&auml;lt Informationen zu Cookies, einschlie&szlig;lich Funktionen, die zeigen, ob Cookies derzeit gesetzt sind, sowie einer Opt-In und Opt-Out-Funktion. Das Opt-Out setzt ein Cookie namens "id" mit dem Wert "optout". Es gilt f&uuml;r die Domain ".newtention.net" und f&uuml;r 5 Jahre.</td>
</tr>
</table>
