<table>
<caption>Nielsen</caption>
<tr>
<td><em>Firma</em></td><td>Nielsen | Nielsen NetRatings</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://de.nielsen.com/site/index.shtml">http://de.nielsen.com/site/index.shtml</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Hauptsitz New York, Deutscher Hauptsitz Frankfurt</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Ihre <a href="http://de.nielsen.com/site/privacy.shtml">Datenschutz-Richtlinie</a> enth&auml;lt einen Abschnitt "Cookies und Nutzungsdaten".</td>
</tr>
</table>
