<table>
<caption>Nugg.ad</caption>
<tr>
<td><em>Firma</em></td><td>nugg.ad predictive behaviorial targeting (ein Unternehmen der Deutschen Post)</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://nugg.ad/de/index">http://nugg.ad/de/index</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Hauptsitz Berlin, B&uuml;ros in London, Paris, Warschau.</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Hat recht ausf&uuml;hrliche Informationen zur Nutzung ihrer Cookies in ihrer PDF-Datei <a href="http://www.nugg.ad/sites/default/files/wysiwyg/Datenschutzerkl%C3%A4rung_DE_v224.pdf">"Datenschutzerklärung_DE_v224.pdf"</a>. Bietet ein Opt-Out-Verfahren an, f&uuml;r das ein Cookie gesetzt wird (Name: "nugg-stop", Domain = "nuggad.net").</td>
</tr>
</table>
