<table>
<caption>Quisma</caption>
<tr>
<td><em>Firma</em></td><td>quisma</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.quisma.com/">http://www.quisma.com/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>M&uuml;nchen</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Ihre englischsprachige <a href="http://tracking.quisma.com/policy.htm">"Privacy Policy"</a> enth&auml;lt einen Abschnitt zu Cookies: "COLLECTION AND USE OF NON-PERSONAL INFORMATION.", sowie einen Abschnitt "Opting-out of the QUISMA Tracker cookie" mit einen Link f&uuml;r ein <a href="http://tracking.quisma.com/optout.cfs">Opt-Out</a>. Dieses setzt ein Cookie "tracker_optout", Wert "1", g&uuml;ltig f&uuml;r die Domain "tracking.quisma.com" f&uuml;r knapp 3 Jahre.</td>
</tr>
</table>
