<table>
<caption>RightMedia-Yahoo</caption>
<tr>
<td><em>Firma</em></td><td>rightmedia from Yahoo!</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http:// www.rightmedia.com/">http:// www.rightmedia.com/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>New York</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die englischsprachige Seite <a href="http://www.rightmedia.com/data-providers">"Data Providers"</a> erw&auml;hnt Cookies, ist aber an die Kunden von Right Media gerichtet, nicht an Verbraucher.</td>
</tr>
</table>
