<table>
<caption>SMARTAdServer</caption>
<tr>
<td><em>Firma</em></td><td>SMART AdServer</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.smartadserver.com/">http://www.smartadserver.com/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>B&uuml;ros in 10 Staaten (DE, UK, FR, NL, ES, PL, TR, US, CA, MX)</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die nur englischsprachige Seite <a href="http://www.smartadserver.com/smart/de/privacy/privacy-policy.asp">"Privacy Policy"</a> enth&auml;lt Informationen zu Cookies sowie einen Link zu einem <a href="http://www.smartadserver.de/privacy-policy/opt-out">Opt-Out-Verfahren</a>. Dieses setzt drei Cookies mit Namen "pid" f&uuml;r 20 Jahre f&uuml;r die Domains "horyzon-media.com", "meetic-partners.com" und "smartadserver.com".</td>
</tr>
</table>
