<table>
<caption>SpecificMedia</caption>
<tr>
<td><em>Firma</em></td><td>Specific Media</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.specificmedia.de/">http://www.specificmedia.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Hauptsitz Irvine (CA, US). Deutsche B&uuml;ros M&uuml;nchen, D&uuml;sseldorf</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die englischsprachige Seite <a href="http://www.specificmedia.de/privacy.php">"Datenschutz"</a> enth&auml;lt Informationen &uuml;ber Cookies, einschlie&szlig;lich einer Funktion f&uuml;r ein Opt-Out. Dieses setzt ein Cookie namens "ADVIVA", Wert "NOTRACK" f&uuml;r die Domain ".specificmedia.com" f&uuml;r 5 Jahre.</td>
</tr>
</table>
