<table>
<caption>Spiegel-QC</caption>
<tr>
<td><em>Firma</em></td><td>Spiegel-QC ("Der Premium-Vermarkter")</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.spiegel-qc.de/deutsch/home/index.php">http://www.spiegel-qc.de/deutsch/home/index.php</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Hamburg</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die <a href="http://www.spiegel-qc.de/deutsch/spezial/datenschutz.php">"Hinweise zum Datenschutz</a> enthalten einen Abschnitt "Was sind Cookies?".</td>
</tr>
</table>
