<table>
<caption>TradeDoubler</caption>
<tr>
<td><em>Firma</em></td><td>TradeDoubler</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.tradedoubler.com/de-de/">http://www.tradedoubler.com/de-de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Hauptsitz Stockholm, deutsches B&uuml;ro in M&uuml;nchen.</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die ausf&uuml;hrliche Seite <a href="http://www.tradedoubler.com/de-de/legal/privacy.html">"Datenschutzrichtlinie"</a> enth&auml;lt zwei Abschnitte &uuml;ber Cookies, einschlie&szlig;lich eines Links zu einer <a href="http://www.tradedoubler.com/include/functions/optout.html">Opt-Out-Funktion</a></td>
</tr>
</table>
