<table>
<caption>ValueClick</caption>
<tr>
<td><em>Firma</em></td><td>ValueClick International</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.valueclick.de/">http://www.valueclick.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Unterhaching/M&uuml;nchen (Hauptsitz: Los Angeles)</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die Seite <a href="http://www.valueclick.de/datenschutz">"Hinweise zum Datenschutz bei ValueClick" enth&auml;lt ausf&uuml;hrliche Informationen zu Cookies einschlie&szlig;lich eines Links zu einer englischsprachigen Seite mit einer <a href="https://admin.valueclickmedia.com/corp/optout">Opt-Out-Funktion</a>. Dies setzt ein Cookie namens "fastklick" mit dem Wert "optout" f&uuml;r die Domain "fastclick.net", f&uuml;r knapp 20 Jahre.</td>
</tr>
</table>
