<table>
<caption>Webtrekk</caption>
<tr>
<td><em>Firma</em></td><td>Webtrekk GmbH</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.webtrekk.de/">http://www.webtrekk.de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Berlin</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>Die Seite <a href="http://www.webtrekk.com/index/datenschutzerklaerung.html">"Datenschutzerkl&auml;rung"</a> enth&auml;lt einen Abschnitt "Cookies" sowie einen Link zu einer <a href="http://optout.webtrekk.net/?r=http://www.webtrekk.com/index/datenschutzerklaerung/opt-out.html">Opt-Out-Funktion</a>. Diese setzt (wie auf der Best&auml;tigungsseite explizit genannt) ein Cookie namens "webtrekkOptOut". Es gilt f&uuml;r die Domain "webtrekk.net", hat den Wert "1" und gilt f&uuml;r knapp 20 Jahre.</td>
</tr>
</table>
