<table>
<caption>Zanox</caption>
<tr>
<td><em>Firma</em></td><td>Zanox.de AG</td>
</tr>
<tr>
<td><em>URL</em></td><td><a href="http://www.zanox.com/de/">http://www.zanox.com/de/</a></td>
</tr>
<tr>
<td><em>Standort</em></td><td>Berlin</td>
</tr>
<tr>
<td><em>Cookie-Infos</em></td><td>In ihrem <a href="http://www.zanox.com/de/zanox/about/zanox_code_of_conduct.html ">"Code of Conduct"</a> (Stand 2010/04) ("Handlungsempfehlung für Publisher und Advertiser im zanox Netzwerk") werden Cookies im Abschnitt 4.2.6 erw&auml;hnt. Demnach soll bei einem Seitenaufruf nicht mehr als ein Cookie "f&uuml;r einen passiven Werbemitteleinsatz" gesetzt werden d&uuml;rfen, au&szlig;er bei "Triple-Bannern", f&uuml;r die dann drei gesetzt werden d&uuml;rften.</td>
</tr>
</table>
